* {
    font-family: "Inter", serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

.header {
    background-color: #3498db;
    color: #ffffff;
    
    display: flex;
    justify-content: space-between;

}

.head {
    font-size: 14px;
    text-align: left;
    display: flex;
    align-items: center;
    background-color: #2b7db4 ;
    padding-left: 20px;
}

.item {
    margin-right: 40px;
    display: inline-flex;
}

.item i {
    font-size: 35px;
    justify-content: center;
    margin: 10px;
}

.set {
    align-items: center;
    margin-top: 3px;
    
}

.btn1 {
    margin-top: 4px;
    margin-right: 25px;
    height: 45px;
    background-color: #ffffff;
    color: #3498db;
    padding: 10px 20px;
    border: 1px solid #ffffff ;
    border-radius: 10px;
    cursor: pointer;
}

.contenido {
    padding: 20px;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 30px;
}

/* informaccion */

.info {
    
    align-items: center;
    margin-bottom: 20px;
    width: 45%;
    

}

.info h1 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    color: #273746;

}

.foto {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 20% solid aed6f1;
    text-align: center;
}




.datos {
    margin-left: 5px;
    
    
}

.inter {
    margin-right: 10px;
    color: #000000;
    display: flex;
    cursor: pointer;
    justify-items: center;
    align-items: center;
}

.inter i {
    color: #3498db;
    font-size: 20px;
    margin-right: 10px;
}

.icons {
    display: flex;
    align-items: center;
    margin: 5px;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #aed6f1;
}

.inter h2 {
    font-weight: 500;
    font-size: 20px;
}

.icons a {
    color: #000000;
    text-decoration: none;
    
}
.icons i {
    font-size: 20px;
    margin-right: 10px;
}
.about {
    margin-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #aed6f1;
}

.about h2
{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #273746;
}

.lenguages {
    margin-top: 50px;
}

.languages {
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #aed6f1;
  border-radius: 10px;
  background-color: #fdfefe;
}

.languages h2 {
  text-align: center;
  color: #273746;
  margin-bottom: 15px;
  font-size: 24px;
}

.language {
  margin-bottom: 20px;
}

.language-name {
  font-weight: bold;
  color: #34495e;
}

.language-bar {
  background-color: #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  height: 20px;
  margin: 5px 0;
}

.language-level {
  height: 100%;
  background-color: #aed6f1;
  transition: width 0.6s ease;
}

.language-percent {
  font-size: 14px;
  color: #555;
}

.title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #273746;
    margin-left: 50px;

}

/* Experience: */

.status {
    margin-left: 60px;
    margin-right: 50px;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
    
}

.status h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
    border-bottom: 2px solid #aed6f1;
    color: #273746;
}

.status h3 {
    font-size: 25px;
    font-weight: 500;
    color: #273746;
    margin-top: 10px;
}

.status h4 {
    font-size: 22px;
    font-weight: 500;
    color: #273746;
    font-weight: 800;
}

.status .text {
    margin-bottom: 20px;
}

.hided {
    font-size: 20px;
    opacity: 0.5;
    color: #aed6f1;
    cursor: pointer;
    margin-bottom: 5px;
    border-bottom: 2px solid #aed6f1;
}

.fa-angle-right{
    margin-left: 10px;
    transition: transform 0.6s ease;
}

.rotate {
    transform: rotate(90deg);
}

.exp {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out, padding 0.6s ease-in-out;
    background-color: #ffffff;
    border: 1px solid #aed6f1;
    padding: 0 15px;
}

.exp.open {
    max-height: 5000px; 
    padding: 15px;
}

.status .text {
    margin-left: 20px;
}

.logo {
    width: auto;
    display: block;
    height: 360px;
    object-fit: cover;
    margin-right: 10px;
    margin: 0 auto;
}


/* Habilidades: */



.skills {
    margin-left: 60px;
    margin-right: 50px;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skills h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
    border-bottom: 2px solid #aed6f1;
    color: #273746;

}

.skill {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out, padding 0.6s ease-in-out;
    background-color: #ffffff;
    border: 1px solid #aed6f1;
    padding: 0 15px;
}

.skill.open {
    max-height: 5000px; 
    padding: 15px;
}

.skills-list {
  margin: 20px auto;
  margin-left: 25px;
}

.skill-object {
  margin-bottom: 20px;
}

.skill-name {
  font-weight: bold;
  color: #273746;
}

.progress-bar {
  background-color: #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  height: 20px;
  margin: 5px 0;
}

.progress {
  height: 100%;
  background-color: #aed6f1;
  transition: width 0.6s ease;
}

.percentage {
  font-size: 14px;
  color: #555;
}

/* academic */

.academics {
    margin-left: 60px;
    margin-right: 50px;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
}

.academics h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
    border-bottom: 2px solid #aed6f1;
    color: #273746;

}

.academic {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out, padding 0.6s ease-in-out;
    background-color: #ffffff;
    border: 1px solid #aed6f1;
    padding: 0 15px;
}

.academic.open {
    max-height: 5000px; 
    padding: 15px;
}

.education-section {
  border-left: 4px solid #3498db; /* azul claro */
  padding-left: 15px;
  margin: 30px;
}

.education-entry {
  margin-bottom: 30px;
}

.education-entry h3 {
  color: #2c3e50;
  margin-bottom: 5px;
}

.education-entry em {
  display: block;
  color: #555;
  font-style: italic;
  margin-bottom: 5px;
}

.education-entry p {
  color: #333;
  margin-bottom: 5px;
}





/* banner */

.banner {
    display: flex;
    margin: 50px;
    border-bottom: 2px solid #aed6f1;
}

.titulobaner {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 700;
    color: #3498db;
}

.textbaner {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
}

.imgbaner {
    width: 400px;
    height: auto;
    object-fit: cover;
    margin-left: 30px;
    margin-bottom: 5px;
    border-radius: 20% solid #aed6f1;
}

.textarea {
    width: 60%;
}

.text {
    font-size: 17px;
}

@media (max-width: 800px) {
    .header {
    display: block;
    }
   .head {
    display: block;   
    margin-left: 0;
    padding-left: 5px;
   }
   .item i {
    font-size: 30px;
    margin-left: 0;
   }

   .set h2 {
    font-size: 18px;
   }

   .set h3 {
    font-size: 14px;
   }

   .btn1 {
    align-items: center;
    margin: 0;
    width: 100%;
    border: 1px solid #ffffff ;
    border-radius: 0px;

   }



   .banner {
    display: block;
    
   }
   .textbaner {
    margin: 0;
    
   }
   .textarea {
    width: 100%;
   }

   .imgbaner {
    width: 100%;
   }


   .contenido {
    display: block;
    margin: 0;
    
   }

   .info {
    width: 95%;
    margin: 0;
   }

   .foto {
    width: 95%;
    
   }

   .about{
    text-align: justify;
   }


   .che {
    margin-bottom: 0;
    margin-left: 0;
    width: 95%;
   }

   .status {
    display: block;
    margin-left: 10px;
    margin-right: 0px;
   }

   .text {
    text-align: justify;
   }

   .skills {
    display: block;
    margin-left: 10px;
    margin-right: 0px;
   }



}